* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-links {
  display: flex;
  column-gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #1d232c;
}
.navbar-links a:hover {
  text-decoration: underline;
  color: #1d232c;
}

.navbar-menu-toggle {
  display: none;
}

/* Side Navbar  */
.side-navbar {
  background-color: #1d232c;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -60%;
  padding: 20px;
  color: white;
  /* display: none; */
  transition: 2s;
}

.side-navbar-link {
  margin-bottom: 30px;
}

.side-navbar-links a {
  text-decoration: none;
  color: white;
}
.side-navbar-links a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.header-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: #1d232c;
  color: white;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .navbar-menu-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
  }
}
